@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=MuseoModerno:wght@100;600&family=Patua+One&family=Permanent+Marker&family=Roboto:wght@500&family=Rubik+Mono+One&family=Rubik:wght@500&family=Ubuntu:wght@500&family=Vollkorn+SC:wght@400;700;900&family=Yellowtail&display=swap');
*{  font-family: 'MuseoModerno', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../Pics/photo-1490126296131-3de6bd234be6.jfif);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

        /* Navbar*/
 
.container-fluid{
    min-height: 10vh;
    display: flex;
    align-items: center;
}

ul li a {
    font-size: 1.65em;
    color: black;
    transition-duration: 2.5s;
} 
        
ul li{
    padding-left: 20px;
}
        
nav a:hover, a i:hover{
    background-color: #F9C300;
    transition-duration: 1s;
    color:white;
}
        
.navbar{
    width: 100%;
}
        
.navbar-collapse, .navbar-toggler{
    padding-top: 2em;
}

.navbar-toggler{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  rgb(163, 155, 155); 
    padding: 20px;
}
        

             /*Navbar*/
            /* Main */



.form-container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 750px;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, textarea{
    width: 350px;
    margin: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

textarea{
    height: 180px;
    background-color: transparent;
    resize: none;
}

#submit{
    width: 60px;
    text-align: center;
    border: none;
    background-color:transparent; 
    color: grey;
}

#submit{
    color: white;
    background-color:  #F9C300;
    border-color: #F9C300;
    border-radius: 30% 60%;
    margin-top:2em;
    width: 70px;
    height: 60px;
    transition: 2s;
}


            /* Main */
             /* Footer*/

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    position: fixed;
    bottom: 0;
    right: 50px;
}

.copyright{
    display: flex;
    justify-content: flex-end;
}

.social-media a{
padding: 0 15px;
color: grey;   
}
            
.social-media a:hover{
    color: #F9C300;
    text-decoration: none;
    transition-duration: 1s;
}



.cover{
    opacity: 1;
    background-image:white;
    position:fixed;
    width:100%;
    height:1px;
    bottom:0px;
    left:0px;
    z-index:1000;
    animation-name: cover1;
    animation-duration: 2.0s;
    display: none;
} 

.cover2{
    opacity: 1;
    background-color:white;
    position:fixed;
    width:100%;
    height:1px;
    bottom:0px;
    left:0px;
    z-index:1000;
    animation-name: cover2;
    animation-duration: 1s;
    display: none;
} 
                
@keyframes cover2 {
    from {background-color: white;
    width: 100%;
    height: 1px;}
    to {background-color: white;
    width:100%;
    height: 100%;}
}
                
@keyframes cover1 {
    from {background-color: white;
    width: 100%;
    height: 100%}
    to {background-color: white;
    width:100%;
    height: 1px;}
}


@media screen and (max-width: 767px){
    input, textarea {
    width: 250px;
    margin: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    }

   .footer-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    bottom: 0;
    right: -5px;
   }
}